@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    555 NotAStreet<br />
    Wichita, KS 67212<br />
    <abbr title="Phone">P:</abbr>
    316-393-9915
</address>

<address>
    <strong>Support:</strong> <a href="mailto:clintecurtis@gmail.com">clintecurtis@gmail.com</a><br />
</address>
